{% extends 'base.html' %} {% block title %}About Us - My Flask Site{% endblock
%} {% block content %}
<div class="container py-5">
  <h1 class="text-center mb-5">About Us</h1>
  <h4>What is the website?</h4>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <p>
        Number Nexus is an interactive math platform primarily designed for
        students aged 12-18, the site will serve as an educational tool that
        aims to improve skills, confidence and engagement through resources
        provided, practice questions and multiple video explanation. It has a
        homepage featuring new content and information, and a resource section
        for different year groups and levels of math. It will feature example
        questions for the user, to ensure that they learn about the content
        given to them. It will also contain a user-friendly interface that's
        easy to use. Not only that, but the website will help deepen their
        understanding and improve problem-solving efficiency.
      </p>
      <h4>Why is it needed?</h4>
      <p>
        Currently we have realised that many people tend to struggle with their
        speed, accuracy and confidence in maths. This is often because they are
        lacking engaging learning tools which causes students to have dull and
        boring learning experiences, so they don't maintain their confidence and
        drive to complete their work. It causes a decrease in their motivation
        leading to a poorer academic performance over time. It creates problems
        for people who are at any level of content and causes many problems to
        people who are already struggling at math.
      </p>
    </div>
    <div class="col-lg-5 mb-4">
      <img
        src="{{ url_for('static', filename='images/about_us1.jpg') }}"
        class="d-block w-100"
      />
    </div>
  </div>
  <h4>Our Goal</h4>
  <p>
    Number Nexus will transform perspectives of how students view math by
    changing it from a boring and uninteresting subject to a fun, enjoyable and
    exciting course that many people will excel in. The website makes it easier
    for students to learn math in a simple and fun way, so they can learn and
    take everything they learn so they can use it later during math class and
    exams. With tips, tricks and videos to help the user understand math, the
    website gives more knowledge to the students by helping them achieve more
    through a simple website. We expect this website to make a huge change in
    many students' lives by helping them improve massively in maths while also
    helping them keep up to their peers and help them achieve much higher than
    their initial goal.
  </p>
  <div class="row">{% endblock %}</div>
</div>
